<div class="menu-bar-container">
  <div class="menu-bar-logo">
    <a href="#">
      <img
        src="assets/ps-logo.png"
        alt="logo playstation store"
        srcset="">
    </a>
  </div>
  <div class="menu-bar-item">
    <ul>
      <li><a href="https://www.youtube.com/@murilogoncalvesdionisio6612">YouTube</a></li>
      <li><a href="https://www.linkedin.com/in/murilo-dion%C3%ADsio/">LinkedIn</a></li>
      <li><a href="https://github.com/MurilodioPy">GitHub</a></li>
    </ul>
  </div>
</div>
